@font-face {
    font-family: "pixelFont";
    src:url("font/slkscre.ttf");
}

body {
    background-color:rgba(0,0,0,0.8);
    background-image: url('img/texture.png');
    background-size: cover;
    margin: 0;
    display: block;
}

#modal,
#highscore-container {
  visibility: visible;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  opacity:1;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

#highscore-container {
  z-index: 101;
  background: rgba(0, 0, 0, 0.9);
}

#highscore-content{
  margin:0 auto;
  padding: 3rem;
  width: 40rem;
  display: block;
  text-align: center;
  font-family: "pixelFont";
  font-size: 4rem;
  color: #FFE400;
  vertical-align: middle;
}

#modal-content{
  margin:0 auto;
  padding: 3rem;
  height: 25rem;
  width: 40rem;
  margin-top: 13rem;
  border: 2rem solid red;
  border-color: #E7328A;
  border-radius: 1rem;
  display: block;
  background-color: black;

}

#modal-text,
#highscore-list {
  text-align: center;
  font-family: "pixelFont";
  font-size: 2rem;
  color: white;
  vertical-align: middle;
}

.highscore-item {
  margin: 2rem;
}

#container {
  min-width:800px;
  max-width:1200px;
  margin:0 auto;
  margin-top: 2rem;
}
.form {
  margin: 3rem;
  text-align: center;
}

.form-input,
.form-input:focus {
  width: 70%;
  height: 3rem;
  margin-top: 2rem;
  font-family: "pixelFont";
  font-size: 3rem;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

input[type=button] {
    padding:5px 15px;
    background:#FFE400;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 4rem;
    width: 16rem;
    margin-top: 4rem;
    font-family: "pixelFont";
    font-size: 2.5rem;
}

#logo-container  {
    background-image: url(img/senilmemory.png);
    width: 100%;
    height: 6rem;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 3rem;
}

#footer-container {
    background-image: url(img/powered.png);
    width: 100%;
    height: 5rem;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 1rem;
}

#timer {
  font-family: 'pixelFont';
  font-size: 5rem;
  color: white;
  margin: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

#card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
      background-color: white;
      height: 12rem;
      width: 8.5rem;
      margin: 1.5rem;
      border-radius: 1rem;
      transform-style: preserve-3d;
      position: relative;
      backface-visibility: hidden;
      transition: transform 0.4s;
      transform-style: preserve-3d;
      -webkit-box-shadow: 0px 8px 24px -11px rgba(0,0,0,0.51);
      -moz-box-shadow: 0px 8px 24px -11px rgba(0,0,0,0.51);
       box-shadow: 0px 8px 24px -11px rgba(0,0,0,0.51);
  }

  .action-flip-card {
    transform: rotateY(180deg);
    transition: transform 0.2s;
  }

  .card-front {
      background-image: url("img/hiqlog.png");
      height: 100%;
      width: 90%;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      backface-visibility: hidden;
      margin-left:0.5rem;
  }

  .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 1rem;
    background-color: yellow;
    backface-visibility: hidden;
    transform: rotateY( 180deg );
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.card-0,
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12,
.card-13,
.card-14,
.card-15,
.card-16,
.card-17, {
    margin:0 auto;
    margin-top: 3rem;
    height: 100%;
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-0,
.card-9 {
    background-image: url("img/0.png");
}

.card-1,
.card-10 {
    background-image: url("img/1.png");
}

.card-2,
.card-11 {
    background-image: url("img/2.png");
}

.card-3,
.card-12 {
    background-image: url("img/3.png");
}

.card-4,
.card-13 {
    background-image: url("img/4.png");
}

.card-5,
.card-14 {
    background-image: url("img/5.png");
}

.card-6,
.card-15 {
    background-image: url("img/6.png");
}

.card-7,
.card-16 {
    background-image: url("img/7.png");
}

.card-8,
.card-17 {
    background-image: url("img/8.png");
}
