body {
    background-color: black;
}

.logo-container  {
    background-image: url(img/senilmemory.png);
    width: 100%;
    height: 6rem;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 1rem;
}

.footer-container {
    background-image: url(img/powered.png);
    width: 100%;
    height: 6rem;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 1rem;
}

.container {
    width:1200px; 
    margin:0 auto;
    margin-top: 2rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
      background-color: white;
      height: 13rem;
      width: 11%;
      margin: 2rem;
      border-radius: 1rem;
      transform-style: preserve-3d;
      position: relative;
      transition: transform 0.4s;
      transform-style: preserve-3d;
  }



  .action-flip-card {
    transform: rotateY(180deg);
    transition: transform 0.1s;
  }

  .card-front {
      background-image: url("img/hiqlog.png");
      height: 100%;
      width: 100%;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      backface-visibility: hidden;
  }

  .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 1rem;
    background-color: yellow;
    backface-visibility: hidden;
    transform: rotateY( 180deg );
}

.card-back-star {
    margin:0 auto;
    margin-top: 2.5rem;
    height: 100%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/stars.png");
}

.card-back-mushroom {
    margin:0 auto;
    margin-top: 2.5rem;
    height: 100%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/mushroom.png");
}