@font-face {
  font-family: "pixelFont";
  src:url("font/pressstart2p.ttf");
}

body {
  background-color:rgba(0,0,0,0.8);
  background-image: url('img/texture.png');
  background-size: cover;
  margin: 0;
  display: block;
  background: black;
}

#curtain-container {
  position: fixed;
  z-index: 110;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(img/curtainfull.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1.5s ease-in-out;
  left:-0.5%;
}

#curtain {
  background-image: url(img/curtain.png);
  width: 100%;
  height: 7rem;
  background-size: cover;
  background-repeat: no-repeat;
  position:fixed;
  top: 100%;
}

#mute-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 106;
  top:2rem;
  right: 2rem;
  background-size: cover;
}

.mute-button-not-pressed {
  background-image: url(img/soundon.png);
}

.mute-button-pressed {
  background-image: url(img/soundoff.png);
}

#modal,
#highscore-container,
#startscreen-container {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow-y: scroll;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.translate-up {
  transform: translateY(-120%);
}

.translate-down {
  transform: translateY(0%);
}

#highscore-container {
  z-index: 103;
  background: black;
}

#startscreen-container {
  z-index: 104;
  background: black;
  visibility: visible;
  opacity: 1;
}

#startscreen-image {
  background-image: url(img/startscreen.png);
  width: 100%;
  height: 28rem;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-top: 5rem;
}

#startscreen-text,
#highscore-container {
  text-align: center;
}

.start-button {
  padding:5px 15px;
  border:0 none;
  background: none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 6rem;
  width: 30rem;
  margin-top: 4rem;
  font-family: "pixelFont";
  font-size: 2rem;
  color: white;
  transition: all 0.2s ease-in-out;
}

.start-button:hover {
  color: #FFE400;
}

.start-button:focus {
  outline: none;
}

#highscore-content{
  margin:0 auto;
  padding: 3rem;
  display: block;
  text-align: center;
  font-family: "pixelFont";
  font-size: 4rem;
  color: #FFE400;
  vertical-align: middle;
}

.highscore-name {
  text-align: left;
  overflow: hidden;
  margin-right: 1rem;
}

.highscore-time {
  text-align: right;
  flex: auto;
}

#modal-content{
  margin:0 auto;
  padding: 3rem;
  height: 50rem;
  width: 40rem;
  margin-top: 3rem;
  border: 4rem solid red;
  border-color: #E7328A;
  display: block;
  background-color: black;

}

#modal-header,
#modal-text-header {
  text-align: center;
  font-family: "pixelFont";
  font-size: 2.5rem;
  line-height: 4rem;
  color: #FFE400;
  vertical-align: middle;
  margin-bottom: 1rem;
}

#modal-header-text {
  text-align: center;
  font-family: "pixelFont";
  font-size: 1.6rem;
  line-height: 4rem;
  color: white;
  vertical-align: middle;
  margin-bottom: 2rem;
}

#modal-text{
  text-align: center;
  font-family: "pixelFont";
  font-size: 2rem;
  line-height: 5rem;
  color: white;
  vertical-align: middle;
}

#highscore-list {
  margin-top: 3rem;
  height: 50rem;
  overflow-y: scroll;
  text-align: left;
  font-family: "pixelFont";
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

.highscore-item {
  display: flex;
  margin: 2rem;
  padding: 1rem;
  border-bottom: 3px dashed #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFE400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFE400;
}

#container {
  visibility: hidden;
  min-width:800px;
  max-width:1200px;
  margin:0 auto;
  margin-top: 2rem;
}
.form {
  margin: 3rem;
  text-align: center;
}

.form-input,
.form-input:focus {
  width: 90%;
  height: 3rem;
  margin-top: 1rem;
  font-family: "pixelFont";
  font-size: 1.4rem;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

input[type=button] {
  padding:5px 15px;
  background:#FFE400;
  border:0 none;
  cursor:pointer;
  height: 4rem;
  width: 16rem;
  margin-top: 6rem;
  font-family: "pixelFont";
  font-size: 2rem;
  color:black;
  transition: all 0.2s ease-in-out;
}

input[type=button]:hover {
  background: #E7328A;
}

input[type=button]:focus {
  outline:none;
}

#logo-container  {
  background-image: url(img/senilmemory.png);
  width: 100%;
  height: 6rem;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}

#footer-container {
  background-image: url(img/powered.png);
  width: 100%;
  height: 5rem;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-top: 3rem;
}

#timer {
  font-family: 'pixelFont';
  font-size: 2.5rem;
  color: white;
  margin: 1.5rem;
  text-align: center;
  text-rendering: auto;
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  height: 10rem;
  width: 6.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  transform-style: preserve-3d;
  position: relative;
  backface-visibility: hidden;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0px 8px 24px -11px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 8px 24px -11px rgba(0,0,0,0.51);
  box-shadow: 0px 8px 24px -11px rgba(0,0,0,0.51);
}

.action-flip-card {
  transform: rotateY(180deg);
  transition: transform 0.2s;
}

@media screen and (max-width: 1100px) /* Desktop */ {
  #container {
    min-width: 400px;
    max-width: 900px;
  }
}

@media screen and (max-width: 950px) /* Desktop */ {
  #container {
    min-width: 400px;
    max-width: 700px;
  }

  .card {
    height: 10rem;
    width: 6.5rem;
    margin: 0.3rem;
  }
}

@media screen and (max-width: 700px) /* Desktop */ {
  #container {
    max-width: 500px;
  }
}

.card-front {
  background-image: url("img/hiqlog.png");
  height: 100%;
  width: 90%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  backface-visibility: hidden;
  margin-left:0.5rem;
  z-index: 102;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 1rem;
  background-color: yellow;
  backface-visibility: hidden;
  transform: rotateY( 180deg );
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  z-index: 101;
}

.card-0,
.card-9 {
  background-image: url("img/0.png");
}

.card-1,
.card-10 {
  background-image: url("img/1.png");
}

.card-2,
.card-11 {
  background-image: url("img/2.png");
}

.card-3,
.card-12 {
  background-image: url("img/3.png");
}

.card-4,
.card-13 {
  background-image: url("img/4.png");
}

.card-5,
.card-14 {
  background-image: url("img/5.png");
}

.card-6,
.card-15 {
  background-image: url("img/6.png");
}

.card-7,
.card-16 {
  background-image: url("img/7.png");
}

.card-8,
.card-17 {
  background-image: url("img/8.png");
}

.card-18,
.card-19 {
  background-image: url("img/9.png");
}

.card-20,
.card-21 {
  background-image: url("img/10.png");
}

.card-22,
.card-23 {
  background-image: url("img/11.png");
}
